#d1 {
    display: flex;
    justify-content: center;
    margin:40px;
    flex-direction: column;
}

.btndiv {
    margin: 30px;
    justify-content: center;
    display:flex;
    margin-bottom: 0px;
    
}

.playbtn {
    display:flex;
    justify-content: center;
    align-content: center;
    padding:20px;
}

.titleimg {
    width: 400px;
    height: 400px;
    justify-content: center;
    align-self: center;
}

.rockbtn1 {
    height: 100px;
    width: 100px;
    background-image: url(images/rock.jpeg);
    background-size: cover;
    border: 0;
    
    
    
}

.paperbtn1 {
    height: 100px;
    width: 100px;
    background-image: url(images/paper.jpeg);
    background-size: cover;
    border: 0;
    
}

.scissorbtn1 {
    height: 100px;
    width: 100px;
    background-image: url(images/scissor.jpeg);
    background-size: cover;
    border: 0;
}


.rockclicked {
    transform: scale(1.1);
    border-color: red;
    box-shadow: 0 0 1rem red;
  }

.paperclicked {
    transform: scale(1.1);
    border-color: yellow;
    box-shadow: 0 0 1rem yellow;
}

.scissorclicked {
    transform: scale(1.1);
    border-color: lightblue;
    box-shadow: 0 0 1rem lightblue;
}


.buttons {
    transition: all 0.75s ease;
    border-radius: 60%;
}

.startTxtbox {
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin-top: 20px;
}

.resultDiv {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height:160px;
    font-family: 'Poppins', sans-serif;
    
   
}

.outerbtndiv {
    display:flex;
    justify-content: space-between;
    

}


.resultCpuDiv {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height:160px;
    font-family: 'Poppins', sans-serif;
}

.roundResultBox {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.endResultSpan {
    font-family: 'Poppins', sans-serif;
}

.scorekeepertxt {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;

}

.nextMatchbtn {
    width: 100px;
    height: 30px;
    justify-content: center;
    align-self: center;
    margin: 10px;
    margin-top: 0px;
    font-family: 'Poppins', sans-serif;
}


.nextMatchBox {
    display: flex;
    justify-content: center;
    align-items: center;
}


.unclickable {
    pointer-events: none;
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}